
#input-box {
    overflow: hidden;
    width: 80%;
}

#big-container {
    position: relative;
    height: 100%;
    font-family: "Futura", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
}

body {
    margin: 0;
}

html {
    padding-bottom: 50px;
    min-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

#name-entry {
    font-family: inherit;
    font-size: 1em;
    text-align: left;
    background: inherit;
    border: none;
    height: 100px;
    left: 0;
    float: left;
    padding: 0 10px;
    overflow: hidden;
    display: inline;
    font-weight: 600;
    width: 100%;
    text-transform: uppercase;
}

.speaker-box {
    background: #FCC;
    height: 85px;
}

.speaker-box p {
    white-space: nowrap;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

p {
    margin: 0;
}

.next {
    background: #0F0;
}

.next-text {
    color: white;
}

.alternate {
    background: #FAA;
}

#submit-name, #next-speaker {
    font-family: inherit;
    font-size: 1em;
    background: #704;
    color: white;
    width: 10%;
}

#bottom-bar {
    background: #FF0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100px;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
}

.ordinal {
    color: #999;
}
